.color_box {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-template-rows: repeat(2, 25px);
  gap: 10px;
}


.color {
  border: 1px solid black;
  cursor: pointer;
}
.color:focus {
  outline: 2px solid black;
}

.black {
  background-color: black;
}
.gray {
  background-color: gray;
}
.brown {
  background-color: brown;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.white {
  background-color: white;
}