.mainStyle {
  text-align: center;
  padding: 20px;
}
.title {
  color: white;
  padding: 15px;
}
.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
  align-content: center;
  justify-content: center;
}

.sliderTrack {
  display: flex;
  padding: 3px;
  transition: transform 0.8s ease-in-out;
}

.slide {
  position: absolute;
  flex: 0 0 100%;
}

.slideImage {
  padding: 3px;
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(248, 248, 248, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
