* {
  width: 1280px;
}
.weather {
  display: inline;
  width: 300px;
  height: auto;
  padding: 5px;
  text-shadow: 4px 2px 4px gray;
  font-size: 20px;
  color: white;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadeIn 0.6s linear;
}
.bgImage img {
  width: 100%;
  height: auto;
}
.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 4px 2px 4px gray;
  padding-top: 180px;
}
#greeting {
  font-size: 35px;
  text-align: center;
}
.name_input {
  display: none;
}
#clock {
  font-size: 52px;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nameForm {
  text-align: center;
}
.nameForm input {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid black;
}
.toDoForm {
  text-align: center;
}
.toDoForm input {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid black;
}
