* {
  background-color: aquamarine;
}
header {
  display: flex;
  align-items: center;
}
header > a {
  text-decoration: none;
  color: black;
}
.index > img {
  width: 300px;
  height: 150px;
  z-index: 1;
  position: relative;
}
.type {
  font-size: 12px;
  background-color: white;
  color: blueviolet;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  padding: 2px;
  top: 80px;
  left: 270px;
}
.apply {
  width: max-content;
  font-size: 12px;
  background-color: rgb(171, 197, 119);
  color: green;
  border-radius: 5px;
  padding: 2px;
}
.wrap {
  display: flex;
}
