.nav {
  border: 2px solid red;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px;
  align-items: center;
  position: fixed;
}
.item {
  padding: 10px;
}
.item:hover {
  color: blue;
}
